h1{font-family: garamond;}
h2{font-family: garamond;}
h2:hover{color: darkseagreen;}
h3:hover{color: darkseagreen;}
h3{
    font-family: garamond;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
}
span{
    font-style: italic;
    font-size: 18px;
}
a{font-family: garamond;}
.mb-4{
    color: rgb(54, 190, 183);
    font-family: Lucida;
}
.me{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
.facts{text-align: center;}
.orange{color: #ffae00f7;}
.teeth{color: rgb(212, 173, 248);}
.thumb{color: lightskyblue;}
.joint{
    text-decoration: underline;
    color: rgb(81, 161, 235);
}
.school{
    text-decoration: underline;
    color: rgb(74, 167, 198);
}
.contact{
    text-align: center;
    color:#888888;
}
.campus{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.sidney{
    display: block;
    margin-left: auto;
    margin-right: auto;}